@charset "UTF-8";
/*pode usar a media all*/
/*@media all{
    *{
        margin: 0px;
        padding: 0px;
    }
    html, body {
        width: 100vw;
        height: 100vh;
        background-color: rgb(88, 236, 150);
        background-size: contain;
        background-repeat: no-repeat;
    }
    h1{
        color: white;
        text-shadow: 2px 2px 0px rgba(8, 10, 8, 0.801);
        padding: 10px;
    }
}*/

/*
A configuração de media com os arquivos separados ensinados na aula 30 é o mais usado, pois deixa os códigos mais bonitos. */
*{/*Declarações Gerais*/
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(88, 236, 150);
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px rgba(8, 10, 8, 0.801);
    padding: 10px;
}
/*Declarações retrato*/
@media screen and (orientation:portrait){
    body{
    background-image:url(../imagens/paisagem\ 1.jpg);
    background-position:center bottom;
}

}
/*Declarações paisagem*/ 
@media screen and (orientation: landscape){
    body{
    background-image:url(../imagens/paisagem-2.webp);
    background-position:left bottom;
}

}
